Repository alexgsalg/react-fakestore: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:fix, git add --force, prettier --write

fix(fs15): product card horizontal fix
  src/components/ProductCard/product-card.module.scss
  src/pages/Products/products.module.scss
Due: git add --force, prettier --write

fix(section): added optional styles to the styles props on the SectionBlock
  src/components/SectionBlock/section-block.component.tsx
  src/components/SectionBlock/section-block.module.scss
  src/models/structure-blocks.model.ts
Due: yarn run lint:fix, git add --force, prettier --write

feat(productcard): product card styles
  src/components/ProductCard/product-card.component.tsx
  src/components/ProductCard/product-card.module.scss
  src/index.scss
  src/pages/Home/home.page.tsx
  src/pages/Products/products.page.tsx
Due: yarn run lint:fix, git add --force, prettier --write

fix(fs15): product card with horizontal styles fix
  src/components/ProductCard/product-card.module.scss
  src/pages/Products/products.module.scss
Due: git add --force, prettier --write

fix(husky): husky setup for linux
  .husky/commit-msg
  .husky/pre-commit
Due: none

feat(loading): added loading as a block and not an grid item
  src/pages/Home/home.page.tsx
  src/pages/Products/products.page.tsx
Due: yarn run lint:fix, git add --force, prettier --write

feat(scrolltotop): added a scroll to top function on the BrowsereRouter
  src/main.tsx
  src/utils/ScrollToTop.tsx
Due: yarn run lint:fix, git add --force, prettier --write

feat(grid): fS17 - component CSSGrid including breakpoints
  src/components/GridBlock/grid-block.component.tsx
  src/components/GridBlock/grid-block.scss
  src/hooks/useCheckMobileScreen.tsx
  src/pages/Products/products.module.scss
  src/pages/Products/products.page.tsx
Due: yarn run lint:fix, git add --force, prettier --write

fix(grid): added grid description details and grid responsive adjusts
  src/assets/sass/mixins.scss
  src/components/GridBlock/grid-block.component.tsx
  src/components/WrapperBlock/wrapper-block.component.tsx
Due: yarn run lint:fix, git add --force, prettier --write

fix(minor): minor adjusts on styles and comment removal
  src/components/Header/header.component.tsx
  src/components/ProductCard/product-card.module.scss
Due: yarn run lint:fix, git add --force, prettier --write

feat(types): changed typescript props for generic and structure components
  src/components/SectionBlock/section-block.component.tsx
  src/models/generics.model.ts
  src/models/structure-blocks.model.ts
  src/pages/Products/products.page.tsx
Due: yarn run lint:fix, git add --force, prettier --write

fix: typescript adjust for customClass prop
  src/components/AsideFilter/aside-filter.component.tsx
  src/components/GridBlock/grid-block.component.tsx
  src/components/WrapperBlock/wrapper-block.component.tsx
  src/pages/Home/home.page.tsx
Due: yarn run lint:fix, git add --force, prettier --write

fix(structure): folder structure changes separating components and block components
  src/component-structures/GridBlock/grid-block.component.tsx
  src/component-structures/GridBlock/grid-block.scss
  src/component-structures/SectionBlock/section-block.component.tsx
  src/component-structures/SectionBlock/section-block.module.scss
  src/component-structures/SectionHeader/section-header.component.tsx
  src/component-structures/SectionHeader/section-header.module.scss
  src/component-structures/WrapperBlock/wrapper-block.component.tsx
  src/component-structures/WrapperBlock/wrapper-block.module.scss
  src/component-structures/index.ts
  src/pages/Home/home.page.tsx
  src/pages/Products/products.page.tsx
  vite.config.ts
Due: yarn run lint:fix, git add --force, prettier --write

refactor(breakpoints): changes the nomenclature of breakpoints and their values based on bootstrap
  src/assets/sass/mixins.scss
  src/component-structures/GridBlock/grid-block.component.tsx
  src/component-structures/GridBlock/grid-block.scss
  src/component-structures/SectionBlock/section-block.module.scss
  src/component-structures/SectionHeader/section-header.module.scss
  src/component-structures/WrapperBlock/wrapper-block.component.tsx
  src/components/AsideFilter/aside-filter.module.scss
  src/components/Button/button.module.scss
  src/components/CartDrawer/cart-drawer.module.scss
  src/components/CategoryCard/category-card.module.scss
  src/components/Footer/footer.module.scss
  src/components/Header/header.module.scss
  src/components/Logo/logo.module.scss
  src/components/Navbar/Navbar-item/navbar-item.module.scss
  src/components/Navbar/Navbar/navbar.module.scss
  src/components/ProductCard/product-card.module.scss
  src/index.scss
  src/pages/Home/home.module.scss
  src/pages/Home/home.page.tsx
  src/pages/Products/products.module.scss
Due: yarn run lint:fix, git add --force, prettier --write

feat(home): adjusts on the breakpoints for the homepage
  src/pages/Home/home.module.scss
  src/pages/Home/home.page.tsx
Due: yarn run lint:fix, git add --force, prettier --write

feat(style): minor changes on styles
  src/components/Header/header.module.scss
  src/pages/Home/home.module.scss
Due: git add --force, prettier --write

feat(structure): moving header and footer to the structure components folder
  src/component-structures/Footer/footer.component.tsx
  src/component-structures/Footer/footer.module.scss
  src/component-structures/Header/header.component.tsx
  src/component-structures/Header/header.module.scss
  src/layouts/career.layout.tsx
  src/layouts/default.layout.tsx
Due: yarn run lint:fix, git add --force, prettier --write

feat(cart): created cart context actions and selectors
  src/models/products.model.ts
  src/store/cart/cart.actions.ts
  src/store/cart/cart.reducer.ts
  src/store/cart/cart.selector.ts
  src/utils/reducer.utils.ts
Due: yarn run lint:fix, git add --force, prettier --write

feat(style): added rem function to sass and added wrapper and grid components to structure component
  src/assets/sass/functions.scss
  src/assets/sass/helpers.scss
  src/component-structures/Footer/footer.component.tsx
  src/component-structures/Footer/footer.module.scss
  src/component-structures/GridBlock/grid-block.scss
  src/component-structures/Header/header.module.scss
  src/component-structures/SectionBlock/section-block.module.scss
  src/component-structures/SectionHeader/section-header.module.scss
  src/component-structures/WrapperBlock/wrapper-block.module.scss
  src/index.scss
Due: yarn run lint:fix, git add --force, prettier --write

feat(redux): redux setup init for cart items
  src/components/Cart-icon/cart-icon.component.tsx
  src/pages/Home/home.page.tsx
  src/pages/Products/products.page.tsx
  src/services/product.services.ts
  src/store/cart/cart.selector.ts
  src/store/cart/cart.types.ts
Due: yarn run lint:fix, git add --force, prettier --write

fix(hero): adjust on hero wrapper style
  src/pages/Home/home.module.scss
Due: git add --force, prettier --write

Path conditions:
  yarn run lint:fix: any of: *.{ts,tsx,js,jsx}
  git add --force: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{js,jsx,ts,tsx,json,css,scss,md})
  prettier --write: any of: *.{js,jsx,ts,tsx,json,css,scss,md}
